<div class="banner-container">
    <!-- Título superior -->
    <p class="lg:text-2xl md:text-xl sm:text-xl font-extrabold mb-4 tracking-wider">Experiencias Exitosas :</p>
  
    <!-- Frase principal -->
    <h1 class="text-3xl font-bold max-w-[80%] mx-auto tracking-wider leading-relaxed">"Por fin sé cuál es mi verdadera pasión"</h1>
  
    <!-- Decoraciones flotantes -->
    
    <div class="decorations">
      <span class="circle"></span>
      <span class="line"></span>
      <span class="curve"></span>
      <span class="circle2"></span>
      <span class="curve2"></span>
      <!-- Repite elementos decorativos si es necesario -->
    </div>
  </div>