<div class="bg-blue-50 py-12">
    <h1 class="text-center text-3xl md:text-4xl font-bold mb-12 text-pink-500" >Nuestros Facilitadores</h1>
  
    <!-- Contenedor de mentores -->
    <div class="container mx-auto flex flex-col space-y-8 px-4 md:px-0 md:space-y-12">
      
      <!-- Mentor 1 -->
      <div class="flex flex-col md:flex-row items-center md:items-start space-y-4 md:space-y-0 md:space-x-8">
        <img [src]="imagePathFirst" alt="Mentor Paola Huaripayta" class="w-48 h-48 object-cover rounded-lg">
        <div class="text-center md:text-left">
          <h2 class="text-2xl font-bold text-green-500">Paola Sonia</h2>
          <p class="text-gray-700 mt-2 text-xl">
            Psicóloga con amplia experiencia en orientación vocacional, especializada en guiar a estudiantes en la identificación de sus habilidades, intereses y valores. Ha colaborado con instituciones educativas y desarrollado talleres de autoconocimiento y exploración profesional.
          </p>
        </div>
      </div>
  
      <!-- Mentor 2 -->
      <div class="flex flex-col md:flex-row items-center md:items-start space-y-4 md:space-y-0 md:space-x-8 md:flex-row-reverse">
        <img [src]="imagePathSecond" alt="Mentor Diana Huaripayta" class="w-48 h-48 object-cover rounded-lg">
        <div class="text-center md:text-left">
          <h2 class="text-2xl font-bold text-green-500">Diana Angelica</h2>
          <p class="text-gray-700 mt-2 text-xl">
            Coach especializado en orientación vocacional, con experiencia en guiar a estudiantes para descubrir su propósito y tomar decisiones académicas acertadas. Ha liderado talleres prácticos y sesiones personalizadas enfocadas en identificar habilidades y objetivos profesionales. Su metodología combina autoconocimiento y estrategias de acción para preparar a jóvenes hacia el éxito laboral.
          </p>
        </div>
      </div>
      
    </div>
  </div>