<div class="testimonials-container">
    <!-- Título superior -->
    <p class="lg:text-2xl md:text-xl sm:text-xl font-extrabold mb-4 tracking-wider z-30">Testimonios</p>  
    <!-- Texto principal -->
    <h1 class="text-3xl font-bold max-w-[80%] mx-auto tracking-wider leading-relaxed z-30">"Encontré la carrera perfecta para mí"</h1>  
    <!-- Elementos decorativos -->
    <div class="decorations">
      <span class="circle"></span>
      <span class="line"></span>
      <span class="curve"></span>
      <span class="circle small"></span>
      <span class="line small"></span>
      <!-- Añade más decoraciones si es necesario -->
    </div>
  </div>