.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 4em 0em;
    max-height: 73vh;
    background: #F7E385;    
}
.about h1{
    font-size: clamp(1rem, 3rem, 5rem);
    font-family: poppins;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.about p{
     font-size: clamp(1rem, 1.6rem, 3rem);
    font-family: poppins;
    font-weight: 400;
    color: #000;
    margin: 0;
}
.about div{
    margin: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutImage{
    margin-top: 2em;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
  @media (max-width: 768px) {
    .about{
    max-height: 95vh;
}
  }