<div class="min-h-screen bg-color-green relative overflow-hidden">
  <!-- Animaciones decorativas -->
  <span class="circle"></span>
  <div class="animation-circle"></div>
  <div class="animation-star"></div>
  <span class="circle small"></span>
  <div class="animation-circle2"></div>
  <div class="animation-star2"></div>

  <span class="circle2"></span>
  <span class="circle small2"></span>
  <!-- Sección principal -->
  <section class="text-center px-[15em] py-16 z-10 relative">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">Taller "Pre Universitario" para elegir tu futura carrera profesional</h1>
    <p class="text-lg mb-6 mx-[5em]">Nuestros talleres profesionales te brindarán un panorama completo sobre la carrera profesional que deseas estudiar.</p>
    <button class="bg-pink-500 hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-lg"  (click)="contactSupport()">Quiero inscribirme</button>
  </section>

  <!-- Imagen y contenido adicional -->
  <div class="flex flex-col items-center px-4 z-10 relative">
    <img [src]="imagePath" alt="Profesionales del campo laboral" class="w-full md:w-1/2 mb-6 md:mb-0">
  </div>
</div>
