.carousel {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta según la altura necesaria */
  overflow: hidden;
  background-color: #e91e63; /* Fondo rosado */
}

.carousel::after {
  content: ' " Dedicarte a lo que te gusta. " '; /* El texto que deseas mostrar */
  position: absolute;
  bottom: 99px; /* Ajusta según donde quieras mostrar el texto */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%);
  color: #fff; /* Color del texto */
  font-size: 34px; /* Tamaño de fuente */
  font-weight:700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombras para que el texto resalte */
}
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out, z-index 1s ease-in-out;
}

/* Animación para mostrar el elemento activo */
.carousel-item.active {
  opacity: 1;
  z-index: 1;
}

/* Animación automática con solapamiento */
@keyframes carouselStack {
  0%, 40% { /* Mantiene el elemento visible durante el 40% de cada ciclo */
    opacity: 1;
    z-index: 1;
  }
  50%, 100% { /* Lo desvanece y mueve al fondo */
    opacity: 0;
    z-index: 0;
  }
}

/* Aplica la animación a los elementos en orden */
.carousel-item:nth-child(1) {
  animation: carouselStack 15s infinite;
  animation-delay: 0s;
}

.carousel-item:nth-child(2) {
  animation: carouselStack 15s infinite;
  animation-delay: 5s; /* Retrasa su inicio */
}

.carousel-item:nth-child(3) {
  animation: carouselStack 15s infinite;
  animation-delay: 10s; /* Retrasa su inicio */
}